[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
aiohttp = "*"
"discord.py" = {git = "https://github.com/Rapptz/discord.py.git", ref = "rewrite"}
packaging = "*"
"bs4" = "*"
zalgo-text = "*"
pyfiglet = "*"

[requires]
python_version = "3.6.4"
